---
layout: layout.liquid
title: 11ty Boilerplate
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planetary Playing Cards</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Planetary Playing Cards<h1>
  <div class="grid-container">
    <div class="planet-box">Mercury</div>
    <div class="planet-box">Venus</div>
    <div class="planet-box">Earth</div>
    <div class="planet-box">Mars</div>
    <div class="planet-box">Jupiter</div>
    <div class="planet-box">Saturn</div>
    <div class="planet-box">Uranus</div>
    <div class="planet-box">Neptune</div>
  </div>
</body>
</html>

