---
layout: layout.liquid
title: 11ty Boilerplate
---
<h1>Planetary Playing Cards<h1>
  <main>
  <div class="grid-container">
    <div class="planet-box">Mercury</div>
    <div class="planet-box">Venus</div>
    <div class="planet-box">Earth</div>
    <div class="planet-box">Mars</div>
    <div class="planet-box">Jupiter</div>
    <div class="planet-box">Saturn</div>
    <div class="planet-box">Uranus</div>
    <div class="planet-box">Neptune</div>
    <main>