---
layout: layout.liquid
title: 11ty Boilerplate
---

<p>Planetary Playing Cards<p>
  
<main>
  <div class="planet-box">Mercury</div>
    <div class="planet-box">Venus</div>
    <div class="planet-box">Earth</div>
    <div class="planet-box">Mars</div>
    <div class="planet-box">Jupiter</div>
    <div class="planet-box">Saturn</div>
    <div class="planet-box">Uranus</div>
    <div class="planet-box">Neptune</div>
    <main>